@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-row-reverse">
    <div class="p-1">
        <button id="addWarehouseBtn" type="button" class="btn btn-primary" onclick="OpenAddModal()">
            Добавить склад
        </button>
    </div>    
    <div class="p-2" id="map"></div>
</div>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<!--секция скриптов-->
@section Scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
}
